*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;   
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    display: flex;
    justify-content: flex;
    text-align: center;
    padding: 40px 40px;
    min-height: 8vh;
    background-color: #F0F9F9  ; 
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}
.logo_container{
    height: 100%;
    display: flex;
    float: left;
}
.logo_container h1{
    color: gold;
    height: 100%;
    display: flex;
    font-family: 'Roboto';
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 200;
}
.logo_container h1 span{
    font-weight: 800;
}
.links{
    align-items: center;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.links a{
    height: 100%;
    display: inline-flex;
    padding: 0 30px;
}
.links li a{
    display: flex;
    vertical-align: middle;
    height: 100%;
    position: relative;
    color: gold;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;  
    transition: all 0.3s ease 0s; 
}
.links li a:hover{
    color: rgb(248, 210, 210, 0.8);
}

.links li{
    list-style: none;
}
header a{
    display: flex;
    position: relative;
    font-size: 16px;
    padding: 0px 0px;
    justify-content: space-between;

}
button{
    margin-left: 400px;
    padding: 5px 20px;
    background-color: rgb(248, 210, 210);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}
button:hover{
    background-color: rgb(248, 210, 210, 0.8);
}
.search_box{
    display: flex;
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: auto;
    height: 20px;
    width: 40px;
   
}
.search_box input{
    border-radius: 10px;
    background-color: white;
    height: 100%;
    padding: 0px 10px;
    font-size: 16px;
}
.btn i{
    width: 100%;
    height: 10px;

}
footer{
    position: fixed;
    display: flex;
    bottom: 0;
    height: 50px;
    width: 100%;
    justify-content: flex;
    background-color: #5d4954; 
}
footer h2{
    color: black;
    height: 100%;
    display: inline-block;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 200;
}
footer p{
    color: black;
    height: 100%;
    display: inline-block;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 200;
}
.social h6{
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 200;
    justify-content: space-between;
}
#new-recipe-title{
    line-height: 40px;
    font-size: 25px;
}
#new-recipe-sub-title{
    line-height: 30px;
    font-size: 20px;
}
#new-recipe-description{
    height: 200px;
    width: 300px;
    max-width: 300px;
    max-height: 200px;
}
#new-recipe-popup{
    background-color: #F0F9F9;
    width: 22cm;
    max-width: 22cm;
    max-height: 12cm;
    display: inline-block;
}
#new-recipe-leftside, #new-recipe-rightside{
    float: left;
}
#new-recipe-leftside{
    min-width: 370px;
}
#new-recipe-leftside-header{
    display:flex;justify-content:center;align-items:center;
}
#new-recipe-title{
   margin-bottom: 10px;
}
#new-recipe-sub-title{
    margin-bottom: 35px;
}
#rightside, #leftside, #new-recipe-body{
    text-align: center;
}
#add-ingredient-btn{
    padding-left: 10px;
}
#submit-recipe-btn, #add-ingredient-btn, #new-recipe-add-image-btn{
    margin-left: 0 !important;
}
#new-recipe-difficulty{
    width: 40px;
}
#new-recipe-img{
    min-height: 3cm;
    min-width: 5cm;
    max-width: 5cm;
    max-height: 3cm;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.html {
  font-family: "Montserrat";
  font-size: 12px;
}

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  /*background-color: rgb(26, 26, 27);*/
  background-color: rgb(212, 116, 60);
}
.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.brand {
  text-align: center;
  font-size: 4rem;
  color: black;
  margin-bottom: 30px;
}
.ortry {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 30px;
}
.form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
}
.input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: rgb(223, 223, 223);
  display: inline-block;
}
.form ion-icon {
  width: 8%;
  font-size: 3rem;
  margin-bottom: -8px;
  color: rgb(248, 210, 210);
  display: inline-block;
}
#home-search-bar{
  background-color: #F0F9F9;
}
.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.search-result-c {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  width: 100%;
  border-radius: 8px;
  background-color: #F0F9F9  ;
  padding: 15px;
  margin: 20px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result .title {
  color: black;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.view-btn {
    margin-left: 0px !important;
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: rgb(248, 210, 210);
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}
.item-data {
  color: black;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
.item .title {
  color: black;
  margin-top: 10px;
}

.container.start .brand {
  font-size: 7rem;
}
.container.start form {
  max-width: 800px;
}
.container.start form input {
  padding: 20px;
  font-size: 3rem;
}
#input{
  background-color: #F0F9F9;
}
@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.start .brand {
    font-size: 4rem;
  }
  .container.start form {
    max-width: 500px;
  }
  .container.start form input {
    padding: 10px;
    font-size: 2rem;
  }
}










